
[mysqld]
character-set-server            = utf8mb4
collation-server                = utf8mb4_bin
open-files-limit                = 65536
max-connections                 = 10000
table-open-cache                = 2000

[client]
loose-default-character-set     = utf8mb4